a, a:hover {
	color: #000000;
	text-decoration: none;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 250px;
}

.top-right {
	text-align: right;
	padding-top: 15px;
}

.navbar {
	z-index: 9999;
    margin-bottom: 20px;
    margin-top: 20px;
    background: url(../images/navbar.png) repeat-x;
    border: 0px;
 	height: 80px;
}
.navbar-nav {
    padding-top: 15px;
    font-size: 20px;
}

.thumbnail{
  margin-top: 24px;
}

.thumbnail > img{
	width: 100%;
	height: 100%;
}
.thumbnail img:hover{
  transform:scale(1.1);
}
